---
import '../styles/global.css';
import '@fontsource/source-sans-pro'

interface Props {
	title: string;
	description?: string;
}

const { title, description }: Props = Astro.props;

---


<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100 dark:bg-slate-900 text-gray-900 dark:text-gray-50">
		<slot />
	</body>
</html>

<style>
	:root{
		color-scheme: light dark;
	}

	html {
		font-family: 'source-sans-pro', sans-serif;
		scroll-behavior: smooth;
	}
	
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

</style>
